<!DOCTYPE html>
<html>
  <head>
    <title>Klitech Translate and Synonym Dictionary</title>
  </head>
  <body class="body">
    <div class="container">
      <div>
        <h1>Klitech Translate</h1>
        <form>
          <textarea
            class="textbox"
            id="sourceLangTextBox"
            name="sourceLangTextBox"
            [(ngModel)]="translationSource"
            placeholder="Enter text here"
          ></textarea>
          <div class="row">
            <label class="row-label">Source Language</label>
            <select name="from_lang" class="lang-select">
              <option value="en">English</option>
              <option value="fr">French</option>
            </select>
          </div>
        </form>
      </div>
      <div>
        <h1>&nbsp;</h1>
        <form>
          <textarea
            *ngIf="translationResult"
            class="textbox"
            id="destinationLangTextBox"
            name="destinationLangTextBox"
            placeholder="Translation"
            >{{ translationResult }}</textarea
          >
          <textarea
            *ngIf="!translationResult"
            class="textbox"
            id="destinationLangTextBox"
            name="destinationLangTextBox"
            placeholder="Translation"
          ></textarea>
          <div class="row">
            <label class="row-label">Destination Language</label>
            <select name="to_lang" class="lang-select">
              <option value="en">English</option>
              <option value="fr">French</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <button class="btn" (click)="onSubmitTran()">Translate</button>
    <div class="container">
      <div>
        <h1>Klitech Synonym Dictionary</h1>
        <form>
          <textarea
            class="textbox"
            id="synonymSourceTextBox"
            name="synonymSourceTextBox"
            [(ngModel)]="synonymSearch"
            placeholder="Enter word here"
          ></textarea>
        </form>
      </div>
      <div *ngIf="synonymData">
        <h1>&nbsp;</h1>
        <form>
          <textarea
            id="synonymResultTextBox"
            name="synonymResultTextBox"
            class="textbox"
            placeholder="Synonyms"
            >{{ synonymData.synonyms }}</textarea
          >
        </form>
      </div>
    </div>
    <button class="btn" (click)="onSubmitSyn()">Find Synonyms</button>
  </body>
</html>
<router-outlet></router-outlet>
